{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'logintemp/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'logintemp/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'logintemp/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'logintemp/css/style.css' %}">

    <title>ShareInEase</title>
</head>

<body>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="{% static 'logintemp/images/undraw_file_sync_ot38.svg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Log In to <img src="{% static 'logintemp/images/share.jpeg' %}" alt="" style="border-radius: 50%;" width="120px;"><strong>  ShareInEase</strong></h3>
                                <h6 class="mb-4" style="font-weight: 400;">FILE SHARING WEB APPLICATION</h6>
                            </div>
                            <form action="{% url 'shareApp:loggedin' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group first">
                                    <label for="username">Faculty Email</label>
                                    <input type="text" class="form-control" id="email" name="email">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <span class="ml-auto"><a href="#" style="text-decoration: none;" class="forgot-pass">Forgot Password</a></span>
                                </div>

                                <input type="submit" value="Log In" class="btn text-white btn-block btn-primary"> <br>

                                <div style="text-align: center;">
                                    <h6>OR</h6>
                                </div>

                                <a class="btn text-white btn-block btn-info mt-4 mb-4" href="{% url 'register' %}" style="display: flex; justify-content: center; flex-direction: column; text-decoration: none;">
                                    <div style="text-align: center;">Register</div>
                                </a>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="{% static 'logintemp/js/popper.min.js' %}"></script>
    <script src="{% static 'logintemp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'logintemp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'logintemp/js/main.js' %}"></script>
</body>

</html>