{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'shareApp/register/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'shareApp/register/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'shareApp/register/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'shareApp/register/css/style.css' %}">

    <title>ShareInEase</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="{% static 'shareApp/register/images/undraw_file_sync_ot38.svg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Register for <img src="{% static 'shareApp/register/images/share.jpeg' %}" alt="" style="border-radius: 50%;" width="120px;"><strong>  ShareInEase</strong></h3>
                                <h6 class="mb-4" style="font-weight: 400;">FILE SHARING WEB APPLICATION</h6>
                            </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group first">
                                    <label for="username">Faculty Name</label>
                                    <!-- <input type="text" class="form-control" id="username"> -->
                                    {{ form.username }} {% for error in form.username.errors %}
                                    <small style="color: #17a2b8;"> *****{{ error }}*****</small> {% endfor %}
                                </div>
                                <div class="form-group first">
                                    <label for="username">Email </label>
                                    <!-- <input type="text" class="form-control" id="email"> -->
                                    {{ form.email }}{% for error in form.email.errors %}
                                    <small style="color: #17a2b8;"> *****{{ error }}*****</small> {% endfor %}

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <!-- <input type="password" class="form-control" id="password"> -->
                                    {{ form.password1 }}{% for error in form.password1.errors %}
                                    <small style="color: #17a2b8;"> *****{{ error }}*****</small> {% endfor %}

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Confirm Password</label>
                                    <!-- <input type="password" class="form-control" id="password"> -->
                                    {{ form.password2 }} {% for error in form.password2.errors %}
                                    <small style="color: #17a2b8;"> *****{{ error }}*****</small> {% endfor %}

                                </div>
                                <input type="submit" value="Register" class="btn text-white btn-block btn-primary submit">
                                <br>
                                <a class="btn text-white btn-block btn-info mt-4 mb-4" href="{% url 'login' %}" style="display: flex; justify-content: center; flex-direction: column; text-decoration: none;">
                                    <div style="text-align: center;">Log In</div>
                                </a>
                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'shareApp/register/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shareApp/register/js/popper.min.js' %}"></script>
    <script src="{% static 'shareApp/register/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shareApp/register/js/main.js' %}"></script>
</body>

</html>